body {
    margin: 0;
    font-family: 'Shadows Into Light', cursive;    
    font-size: 25px;
    color: #212529;
    text-align: left;
    background-image: url("../img/burger_bg.jpg")
}

h1 {
    font-family: 'Shadows Into Light', cursive;
    font-weight: bold;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    color: #ffa32b;
    text-align: center;
    margin: 10px;
}

.burgers {
    background-color: white;
    height: 300px;
}

.addburger {
    background-color: white;
    height: 120px;
}

.h2, h2 {
    font-size: 2rem;
    background: #ffd926;
    text-align: center;
}

label {
    display: inline-block;
    margin-bottom: .5rem;
    font-size: xx-large;
    margin-right: 10px;
    background: #f8f9fa;
    border-radius: 5px;
    padding: 5px;
}

button, input {
    overflow: visible;
    height: 58px;
}

.btn:not(:disabled):not(.disabled) {
    cursor: pointer;
    height: 49px;
    margin-top: 4px;
    margin-left: 10px;
    font-size: x-large;
}

.btn-primary {
    color: #fff;
    background-color: #009119;
    border-color: #009119;
}
